html {
  height: 100%;
  font-size: 13px;
  color:#FFFFFF;
}
body {
  background: #05222a;
  font-family: 'Roboto', Arial, sans-serif;
  height: 100%;
  color:#CCCCCC;
}

img {
  page-break-inside: avoid;
  max-width: 100% !important;
  vertical-align: middle;
}
h1, h2, h3, .h1, .h2, .h3 {
  page-break-after: avoid;
  text-transform: uppercase;
  margin: 0px;
  font-weight: bold;
  color:#eee;
}
h1, .h1 {
  text-align: center;
  font-size: 30px;
  padding: 1px 1px;
  border-bottom: 1px solid #17a5b8;
}
h2, .h2 {
  font-size: 20px;
  margin-bottom:5px;
}

div.input-field {
	margin-top: 0.5em;
}

.modal-header {
  background-color: #EEE;
  color: #000;
}

.modal-header h4 {
  font-weight: bold;
}

.modal-body, .modal-body h2 {
  color: #666;
}

body.modal-open {
  -webkit-overflow-scrolling: auto;
}

.close {
  font-size: 50px;
}

input.convert-button {
    width: 318px;
    border: 0 none;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 26px;
    font-weight: bold;
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px #333;
    text-transform: uppercase;
    cursor: pointer;
    line-height: normal;
    box-sizing: border-box;
}

input#field-filename {
    cursor: pointer;
}

.deactivate-button {
	background-color: lightgrey;
}

.activate-button {
    background-color: #177f8d;
}

input#field-url {
	width:80%;
	max-width:500px;
	color:#333;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	font-size:1.5em;
	border:4px #5A777f solid;
	border-radius: 5px;
}

input#field-url:focus {
	outline-width:0;
	border:4px #999 solid;
}

.clear {
  clear: both;
}

footer {
  margin-top:60px;
  color: #fff;
  font-size: 13px;
  padding: 10px;
  padding-top:15px;
  text-align: center;
  border-top: 1px #FFF solid;
  display: none;
}
footer a {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  color: #337ab7; /*#ed782a;*/
  text-decoration: none;
}

#header-logo {
  padding-top: 20px;
  width: 100%;
  text-align: center;
}
header {
  padding-bottom:0.9em;
  margin-bottom:1em;
  border-bottom:1px solid #333;
}
header nav #header-left,
header nav #header-right {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
header nav #header-top {
  width: 100%;
  overflow: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}
header nav #header-top > div {
  float: right;
  margin-left: 15px;
  font-weight: bold;
}
header nav #header-top > div a {
  text-decoration: none;
}
header nav #logo img {
  width: 300px;
  min-width: 150px;
}
header nav #menu > *,
header nav #menu-mobile > * {
  display: table-cell;
  vertical-align: middle;
}
header nav #menu .btn,
header nav #menu-mobile .btn {
  padding: 9px;
}
header nav #menu {
  background: #177f8d;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#177f8d),color-stop(1,#17A5B8));
  background: -ms-linear-gradient(bottom,#177f8d,#17A5B8);
  background: -moz-linear-gradient(center bottom,#177f8d 0%,#17A5B8 100%);
  background: -o-linear-gradient(#17A5B8,#177f8d);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#17a5b8', endColorstr='#177f8d', GradientType=0);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

header nav #menu .btn-menu {
  border-left: 1px solid white;
}

header nav #menu-mobile {
  display: none;
}

header nav #menu-mobile .btn {
  background: #177f8d;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#177f8d),color-stop(1,#17A5B8));
  background: -ms-linear-gradient(bottom,#177f8d,#17A5B8);
  background: -moz-linear-gradient(center bottom,#177f8d 0%,#17A5B8 100%);
  background: -o-linear-gradient(#17A5B8,#177f8d);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#17a5b8', endColorstr='#177f8d', GradientType=0);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

header nav #menu-mobile .margin-spacer {
  padding: 0 5px;
}

header nav #searchbar {
  display: none;
  border: 0;
  height: 47px;
  width: 100%;
  background: #29505f;
  padding: 5px;
  font-size: 15px;
  color: #fff;
}

@media (max-width: 1500px) {
  div#wrapper { margin-left:150px; margin-right:150px; }
}

@media (max-width: 1000px) {
  div#wrapper { margin-left:100px; margin-right:100px; }
}

@media (max-width: 800px) {
  div#wrapper { margin-left:90px; margin-right:40px; }
}

@media (max-width: 550px) {
  div#wrapper { margin-left:20px; margin-right:20px; }
  #logo img { width: 280px !important; }
  body { margin: 1em; }
  #header-top { display: none; }
  footer { display: block; }
  h1 { font-size: 24px !important; }
  h2 { font-size: 20px !important; }
  div.ribbon { display: none; }
}

@media (max-width: 427px) {
  #logo img { width: 260px !important; }
  div#wrapper { margin-left:20px; margin-right:20px; }
  body { margin: 1em; }
  #header-top { display: none; }
  footer { display: block; }
  footer a { margin-left: 5px; margin-right: 5px; }
  h1 { font-size: 24px !important; }
  h2 { font-size: 20px !important; }
  div.ribbon { display: none; }
}

@media (max-width: 407px) {
  #logo img { width: 240px !important; }
  div#wrapper { margin-left:6px; margin-right:6px; }
  body { margin: 1em; }
  #header-top { display: none; }
  footer { display: block; }
  footer a { margin-left: 5px; margin-right: 5px; font-size: 12px; }
  h1 { font-size: 24px !important; }
  h2 { font-size: 20px !important; }
  div.ribbon { display: none; }
}

.separator-line {
	margin-top:2em;
	margin-bottom:2em;
	height:1px;
	background:#333;
	border-bottom:1px solid #333;
}

.big-margin {
	margin-top:6em;
	margin-bottom:3em;
	height:1px;
	background:#333;
	border-bottom:1px solid #333;
}

#wrapper {
  margin-left:200px;
  margin-right:200px;
}

/* ----------- Ribbon ----------- */
.ribbon {
  background-color: #ed782a;/*#a00;*/
  overflow: hidden;
  white-space: nowrap;
  width:260px;
  /* top left corner */
  position: absolute;
  left: -70px;
  top: 30px;
  /* 45 deg ccw rotation */
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  /* shadow */
  -webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;
}
.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 160% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 5px #444;
}
/* ------------------------------ */
