body 
{
	background: #f4f4f6; 
	font-family: Verdana,sans-serif; 
	color: #020303;
	margin-left: 15%; 
	margin-right: 15%;
}

h1, h2, h3, h4, h5, h6
{
	font-family: Verdana,sans-serif; 
	font-weight: bold;
}

table, th, td
{
	border: 0.1em solid black;
	padding: 0.3em;
}

img 
{
	padding: 0.4em;
	border: 0.4em #ccc solid;
	background-color: #990000;
}

.footer
{
	border-top: 0.1em solid black;
	margin-top: 0.3em;
	padding-top: 0.3em;
}
